// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.app-header {
    height: 60px;
    margin-bottom: 20px;
}

.image-preview-container {
    margin-top: 40px;
    margin-bottom: 20px;
}
.image-preview {
    max-height: 300px;
    max-width: 100%
}

.add-item {
    margin-bottom: 20px;
}
